.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #292f3f;

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: center;
    height: 95%;
    padding: 10px 20px;
  }
}
