body {
  box-sizing: border-box;
  margin: 0 auto;
  color: white;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body > iframe {
  display: none;
}

p {
  margin: 0px;
}

@import url('react-toastify/dist/ReactToastify.css');
@import url('./components/App/App.scss');
@import url('./components/ChatWindow/ChatWindow.scss');
@import url('./components/Message/Message.scss');
@import url('./components/MessageForm/MessageForm.scss');
@import url('./components/ModalSetName/ModalSetName.scss');
